# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET='your-secret-key-to-jwt'

# Mongo DB
# Local development
MONGODB_URI='mongodb://127.0.0.1:27017/mong_db_races'

# Port
PORT=9000

# Debug 
LOG_LEVEL='debug'
